{
	bDebugSprite: false
	bMultipleInstances: false
	bWarningMultipleInstances: false
	sRendererDevice: "OpenGL ES1"
	sWorkingDirectory: "./"
	sTitle: "Reaper's collector"
	sDescription: "Reaper's collector - Global Game Jam 2013"
	sPublisherName: "Seed Framework"
	iResolutionWidth: 800
	iResolutionHeight: 600
	iFrameRate: 60
	bFullScreen: true
}
